body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;
  }


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: 110%;
  cursor: none;
}

.background-image {
  background-image: url('./image/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 247, 253);
  padding: 50px;
  box-sizing: border-box;
  margin: 0;
  z-index: 1;
  cursor: none;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgb(255, 247, 253);
  width: 100%;
  max-width: 600px;
  padding: 0px;
  border: 2px solid #e588d7;
  
  &:before, &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #e588d7;
    border: 2px solid #e588d7;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }
  &:before {
    left: 5px;
  }
  &:after {
    right: 5px;
  }
  .box-inner {
    position: relative;
    border: 2px solid #e588d7;
    padding: 5px;
    z-index: 99;
    &:before, &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: #e588d7;
      border: 2px solid #e588d7;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
    }
    &:after {
      right: -2px;
    }
  }
}

.progressbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: darkred;
  box-sizing: border-box;
  margin: 0;
  z-index: 1;
  cursor: none;
}

label {
  padding-bottom: 4rem;
  cursor: none;
}

input[type=password] {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px rgb(255, 231, 249);
  outline: none;
  text-align: center;
  cursor: none;
}

@media (max-width: 768px) {
  /* Styles for tablets and larger screens */
  .login-container {
    height: 100vh;
  }
}


.btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;
  border-radius: 2px;
  cursor: none;

  color: rgb(255, 134, 229);
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  position: relative;
  text-align: center;
  z-index: 4;
}

.btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 3;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  background-image: url('./cursor.gif');
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 9999; /* Ensure the cursor is above other elements */
  cursor: none;
  /* Additional cursor styles if needed */
}
